.App {
  display: grid;
  margin: 100px;
  /* text-align: center; */
  grid-template-rows: auto;
  grid-template-columns: 45% 10% 45%;
  row-gap: 20px;
}

.tweet-saver-heading {
  grid-column-start: 1;
  grid-column-end: 4;
  border-bottom: 1px solid black;
}

.search-bar {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  grid-column-start: 1;
  margin-right: 10%;
  margin-left: 10%;
}

.drag-arrow {
  margin: 80% 7% 80% 6%
}
  
.line {
  margin-top: 7px;
  width: 85%;
  background: black;
  height: 5px;
  float: left;
}

.point {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
  float: right;
}

.search-tweet-table {
  grid-column-start: 1;
  border: 1px solid black;
}

.saved-tweet-table {
  grid-column-start: 3;
  border: 1px solid black;
}

.tweet-row {
  display: grid;
  grid-auto-flow: column;
  border: 1px solid black;
}

.tweet-row-info {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
}

.tweet-row-name {
  display: grid;
  grid-auto-flow: column;
}

.tweet-row-image {
  width: 50px;
  height: 50px;
}

.saved-tweets-text{
  grid-column-start: 3;
}